* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: radial-gradient(
    circle at center,
    #4b4b4b 0,
    #4b4b4b 0.4px,
    #161616 1px,
    #161616 100%
  );
  background-repeat: repeat;
  background-size: 30px 30px;
}
